.header-content {
      margin: auto;
      height: auto;
      background-color: #31358A;
}

.header-content h1 {
  padding: 30px 0;
  font-size: 33px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}
.content-wrapper {
      padding: 50px;
      text-align: center;
      width: 648px;
      margin: auto;

}

.content-wrapper p{
  font-size: 15px;
}