/* body {
  background-image: linear-gradient(to bottom,#2d9d5bbf, rgba(98, 133, 52, 0.57));
}
.contact-grid-wrapper {
  width: 1000px;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-gap: 100px;
}
.company-metadata-sidebar-wrapper > .logo img {
  width: 100%; 
  margin-bottom: 20px;
  padding-top: 40px;
}

.company-metadata-sidebar-wrapper > .company-details-wrapper {
  font-family: "Ubuntu Condensed", sans-serif;
  font-weight: 900;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: right;
  font-size: 1.2em;
  color: #454343;
} */

body {
  font-family: 'Montserrat',
    sans-serif;
}

.contact-wrapper-content {
  display: flex;
  padding: 40px;
}

.contact-wrapper-content>.header-wrapper {
  padding: 80px;
}

.border {
  border: 2px solid blue;
}

.contact form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.contact-form p.label {
  display: block;
  color: #3952a3;
  font-family: 'Lato',
    sans-serif;
  color: gray;
  letter-spacing: 1px;
  text-transform: capitalize;
  font-weight: 400;
}


.contact form p {
  margin: 0;
}

.contact form .full {
  grid-column: 1 / 3;
}

.contact-info p {
  padding: 3px 0;
  color: #3952a3;
  letter-spacing: 2px;
  font-family: 'Lato',
    sans-serif;
  font-weight: 500;
  /* text-transform: c !important; */
}

.fas {
  font-weight: 500;
  font-size: 21px;
  letter-spacing: 3px;
}

.fa-solid {
  font-size: 17px;
  letter-spacing: 3px;
}

.contact-left {
  width: 50%;
}

.contact-right {
  width: 50%;
}

.contact form button,
.contact form input,
.contact form textarea {
  width: 100%;
  /* padding: 1em; */
  border: solid 1px #627edc79;
  border-radius: 5px;
  padding: 7px;
}

.contact form textarea {
  resize: none;
}

.contact form button {
  background: #627EDC;
  border: 0;
  color: #e4e4e4;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
}

.contact form button:hover,
.contact form button:focus {
  background: #1539af;
  color: #ffffff;
  outline: 0;
  transition: background-color 2s ease-out;
}

.find-us h1 {
  padding: 30px 0 10px;
}

.copyright {

  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 90px 0 0;
}

/* ------------- */
/* MEDIA QUERIES */
/* ------------- */

@media screen and (max-width: 375px) {
  .contact-wrapper-content {
    display: contents;
    /* padding: 40px;
    border: 1px solid blue; */
  }

  .contact-left {
    width: 100%;
  }

  /* .contact-info p{
    letter-spacing: 2px;
    font-weight: 100;

  } */
  .contact form {
    display: contents;
  }

  .contact-right {
    width: 100%;
  }
}


@media screen and (max-width: 414px) {
  .contact-wrapper-content {
    display: flex;
    flex-wrap: wrap;
  }

  .contact-left {
    width: 100%;
  }

  .contact-wrapper-content>.header-wrapper {
    padding: 0;
  }

  .contact-right {
    width: 100%;
  }

  .contact form {
    display: contents;

  }
}


@media only screen and (min-width: 700px) {
  .wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

  .wrapper>* {
    padding: 2em;
  }

  .company-info {
    border-radius: 4px 0 0 4px;
  }

  .contact {
    border-radius: 0 4px 4px 0;
  }

  .company-info h3,
  .company-info ul,
  .brand {
    text-align: left;
  }
}


@media only screen and (min-width: 820px) {

  .contact-wrapper-content {
    padding: 0;
    display: flex;
    /* padding: 40px; */
    flex-wrap: wrap;
  }

  .contact form {
    display: contents;

  }

  .contact-left {
    width: 100%;
  }

  .contact-right {
    width: 100%;
  }

  .contact-wrapper-content {}
}