/* .squares-wrapper {
  display: flex;
  justify-content: center;
}

.squares-wrapper > .squares {
  width: 1000px;
}

.squares-wrapper > .squares > .square {
  display: grid;
  grid-template-columns: 1fr 1fr ;
  margin-top: -4px;
  align-items: center;
      padding: 70px 0;
} */

.square > .img-wrapper img {
  
  left: 819px;
  top: 1032px;
  border-radius: 0px;
  width: 270px;
  height: auto;

}

.square > .square-text-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.square > .square-text-wrapper h1 {
  color: darkgoldenrod;
}