* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  /* background-color: black; */
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
}


/* .header-wrapper {
  display: flex;
}
.right-box {
  display: flex;
} */


.current {
  border: 1px solid #8BC442;
  color: #8BC442;
  border-radius: 5px;
  padding: 8px 11px;
}
.row {
  margin-left: -15px;
  margin-right: -15px;
  align-items: center;
}

/* ************************** SHOWCASE SECTION ***********************/

.video-section{
  position: relative;
  width: 100%;  
  height: 550px;
  overflow: hidden;

}

#myVideo {
  width: 100%;
  height: auto;
}

video::-webkit-media-controls {
  display: none !important;
}
.video-overlay{
  /* display: grid; */
  /* padding: 100px; */
}
.overlay-heading {
  padding: 180px 100px 20px;
  width: 50%;
  text-transform: uppercase;
  margin-bottom: 15px;
  color: #8BC442;
}

.video-overlay p {
  padding: 0 750px 0 100px;
  font-weight: 500;
  /* color: #8BC442; */
  
}

.overlay-paragraph {
  padding: 20px 0;
}
.button {
  width: 91px;
  height: 40px;
  font-size: 1em;
  border-radius: 5px;
  font-family: sans-serif;
  background-color: #F48E39;
  color: #454343;
  margin-top: 20px;
  margin-left: 225px;
  border: none;
}

button:hover {
  background-image: linear-gradient(to bottom,#2d9d5bbf, rgba(98, 133, 52, 0.57));
  color: white;
}
.video-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(to right,rgba(52, 75, 129, 0.419), rgba(135, 207, 217, 0.446));
  opacity: 1;
  color: white;
}
.content-section {
  background-image: linear-gradient(to left, rgb(202, 95, 62),rgb(243, 146, 67) );
  color:  rgb(95, 196, 209);
  padding: 50px;
  
}



/**************************** SERVICE SECTION *****************************/
.services-content > div {
  margin: 10px;
} 

.services {
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 40px;
 
}

.services-content__collections {
  display: flex;
  padding: 0 0 20px 0;
}

.svg > img {
width: 100%;
max-width: 400px;

}

.services-content__collections-wrap {
  margin-left: 20px
}

.services-content__collections-wrap p {
  font-size: 13px;

}

h3 {
  padding-bottom: 10px;
  font-size: 20px;
}




/************************* PAST WORK SECTIONS *********************/

.past-work {
  background-image: linear-gradient(to left,rgb(52, 75, 129), #87D0D9);
  text-align: center;
  color: #454343;
  padding: 50px ;
  
}

.past-work__heading {
  text-transform: uppercase;
  padding-bottom: 40px;
  
}

.past-work__container {
  /* background-image: linear-gradient(to right,#1197495b, rgba(140, 196, 66, 0.378)); */
  background-image: linear-gradient(to left,rgb(39, 63, 118), rgb(95, 173, 184));
  display: flex;
  align-items: center;
  height: 400px;
  width: 100%;
  /* padding: 10px; */
  border: 3px solid #8BC442;
}

.spacing {
  padding: 30px 0;
}

/* .spacing:hover {
  border: 1px solid #2d9d5bbf;
  padding: 10px;
} */