* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  width: 100%;

}


.process {
  background: #F4FCFD;
  width: 100%;
  left: -1px;
}

.header-wrapper {
  padding: 80px 60px 50px;
}

.process-wrapper {
  padding: 0 60px 120px;
  display: flex;
  justify-content: space-evenly;
}

.process-wrapper p {
  color: #333333;
  Opacity: 70%;
}

.process-container h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: -0.4px;
  color: #31358A;
}

.overview {
  color: #333333;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: -0.292683px;
  font-weight: bold;
}

.process-content_wrapper {
  display: flex;
  margin: auto;
  justify-content: space-evenly;
  padding-bottom: 40px;

}

.process-card {
  width: 255px;
  color: black;
}

.card-heading {
  font-size: 18px;
  line-height: 22px;
  letter-spacing: -0.292683px;
  color: #31358A;
  font-weight: 700;
}

.num-wrapper {}

.num-wrapper1 h4 {
  background: #87D0D9;
  border-radius: 50%;
  width: 40px;
  height: auto;
  color: white;
}

.num {
  padding: 5px;
  color: #87D0D9;
}


.logo img {
  align-self: center;
  Width: 90px;
  Height: auto;
  Top: 21.53px;
  Left: 80px;
}

.hero {
  background-image: url('../images/Group\ 188.png');
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  /* height: 100%; */
  width: 100%;
}

.hero-content-wrapper {
  padding: 149px 0 150px 73px;
}

.hero-content-wrapper h1 {
  font-weight: 700;
  line-height: 86px;
  font-style: normal;
  font-size: 50px;
  font-weight: bold;
  display: flex;
  align-items: center;
  letter-spacing: 2px;
  height: 86px;
  left: 73px;
  top: 337.8px;
}

.hero-content-wrapper h3 {
  letter-spacing: 0.3px;
}

.hero-content-wrapper p {
  width: 578px;
  height: 96px;
  left: 73px;
  top: 450px;
  letter-spacing: 0.3px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
}

.button {
  background: linear-gradient(90deg, #ED582A 14.09%, #F48E39 100%);
  border-radius: 10px;
  padding: 10px 30px;
  height: 46px;
  width: 161px;
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 17px;
}

.button:hover {
  color: rgb(21, 153, 21);
  font-weight: bolder;
}


.dot {
  color: #ED582A;
  font-size: 40px;
}

.rectangle {
  margin: auto;
  display: table;
  padding: 20px;
}

.about {
  height: auto;
  width: 100%;
  left: -1px;
  top: 900.0000610351562px;
  border-radius: 0px;
  background-color: #FFFFFF;
  color: black;
  margin: auto;
  justify-content: center;
}

.about h3 {
  text-transform: uppercase;
}

.hyphen {
  width: 20px;
}

.about-story {
  font-size: 18px;
  line-height: 22px;
  color: #333333;
  mix-blend-mode: normal;
  opacity: 0.7;
  margin: auto;
}

.about-para {
  padding: 5px 0px 20px;
  opacity: 70%;
}

.about-story p {
  margin-bottom: 1rem;
  width: 623px;
  font-style: normal;
  font-weight: normal;
  color: #333333;
  mix-blend-mode: normal;
  opacity: 0.7;
}

.about-content {
  display: flex;
  width: 100%;
  margin: auto;
  padding: 30px 100px;
}

.about-skills {
  padding: 55px 105px 55px 0;
  margin: auto;
  align-self: center;
}

.eclipse-1 {
  height: 337.90545654296875px;
  width: 337.90545654296875px;
  left: 159.89697265625px;
  top: 1029.2489624023438px;
  box-sizing: border-box;
  border: 2.09px solid #31358A;
  border-radius: 50%;
  display: inline-block;
  z-index: 0;
  display: flex;
  animation: animate 15s linear infinite;

}

.eclipse-2 {
  height: 250px;
  width: 250px;
  background: #ccbfbf70;
  margin: auto;
  border: 2.08584px solid #333333;
  border-radius: 0px;
  box-sizing: border-box;
  border-radius: 50%;
  display: flex;
  z-index: 2;
  animation: animateConter 15s linear infinite;

}

.eclipse-3 {
  width: 139.06px;
  height: 139.06px;
  left: 259.32px;
  top: 1128.67px;
  background: #FFFFFF;
  border: 2.08584px solid #31358A;
  border-radius: 50%;
  display: inline-block;
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  z-index: 6;
}

.boots-logo {
  position: absolute;
  width: 44.5px;
  height: 44.5px;
  left: 230px;
  border-radius: 50%;
  filter: drop-shadow(0px 1px 4px rgba(0, 0, 0, 0.25));

}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}


@keyframes animateLogo {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate {
  0% {
    transform: rotate(45deg);
  }

  100% {
    transform: rotate(405deg);
  }
}

@keyframes animateCounter {
  0% {
    transform: rotate(-45deg);
  }

  100% {
    transform: rotate(-405deg);
  }
}

.node-logo {
  position: absolute;
  width: 75.39px;
  height: 46.11px;
  left: -38px;
  filter: drop-shadow(0px 1px 4px rgba(0, 0, 0, 0.25));
}

.msql-logo {
  position: absolute;
  height: 33.107215881347656px;
  width: 63.965641021728516px;
  left: 443px;
  top: 1259.0000610351562px;
  border-radius: 0px;

}

.html-logo {
  position: absolute;
  width: 34px;
  height: 33px;
  filter: drop-shadow(0px 1px 4px rgba(0, 0, 0, 0.25));
  right: 162px;

}

.zoom-logo {
  position: absolute;
  width: 30px;
  height: 30px;
  filter: drop-shadow(0px 1px 4px rgba(0, 0, 0, 0.25));
  bottom: 83px;

}

.green-logo {
  position: absolute;
  width: 30px;
  height: 30px;
  filter: drop-shadow(0px 1px 4px rgba(0, 0, 0, 0.25));
  bottom: -14px;

}

.js-logo {
  position: absolute;
  width: 30x;
  height: 30px;
  left: 87px;
  filter: drop-shadow(0px 1px 4px rgba(0, 0, 0, 0.25));

}

.jqury-logo {
  position: absolute;
  width: 55px;

  right: 7px;

  filter: drop-shadow(0px 1px 4px rgba(0, 0, 0, 0.25));

}

.slack-logo {
  position: absolute;
  width: 30px;
  height: 30px;
  background: url(image.png);
  filter: drop-shadow(0px 1px 4px rgba(0, 0, 0, 0.25));
  right: 84px;
}

.eclipse-logo {
  height: 67px;
  width: 59px;
  left: 300px;
  top: 1164.0000610351562px;
  border-radius: 0px;
  position: inherit;
  /* -webkit-animation: spin 15s linear infinite; */
}

.about-story h1 {
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: -0.4000000059604645px;
  text-align: left;

}

.header-wrapper h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: -0.4px;
  color: #31358A;
}

.header-wrapper p {
  color: black;
}

.service-cards_wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

.service-cards {
  padding: 0 30px;
}

.service-card {
  background: #31358A;
  margin: 20px;
  border-radius: 5%;
  padding: 20px;
  border-radius: 5%;
  width: 375px;
  height: 375px;
  text-align: left;
}

.service-card-Paragraph {
  padding: 0px 12px 0px;
  letter-spacing: 0.5px;

}

.service-wrapper {
  padding: 0;
}

.service-card_link {
  padding-left: 10px;
}

.service-card a {
  text-decoration: none;
  padding: 8px;
  /* border: 1px solid; */
  background: coral;
  border-radius: 5px;
  color: white;
  font-weight: 700;
}

.service-card a:hover {
  letter-spacing: 2px;
  transform: translate(-50);
}

.service p {
  /* padding-bottom: 20px; */

}


.card-button {
  display: flex;
}

.service-card h1 {
  padding: 15px 0 0px;
}

.comment-section {
  background-color: #F4FCFD;
}

.comment-content {
  text-align: center;
  padding: 0 100px 120px;
}

.quotes {
  padding: 10px;
}

.content-wrapper {}

.comment-content p {
  width: 530px;
  color: black;
  text-align: center;
  display: inline-block;

}

.comment-img_wrapper {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin: auto;
}

.comment-img_wrapper h2 {
  font-size: 0.9rem;
  padding: 10px;
  color: black;
}

.comment-img_wrapper p {
  text-align: center;
  width: 100%;

}

.clients-section {
  background: #31358A;

}

.clients-heading h1 {
  color: white;
}

.clients-heading h3 {
  color: lightblue;
}

.header-wrapper h3 {
  text-transform: uppercase;
}

.clients-logo {
  padding: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.clients-logo_wrapper {
  text-align: center;
  align-items: center;
  padding: 0 0 40px;

}

.clients-logo_wrapper img {
  width: 150px;
  height: auto;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  margin: 50px 70px;
}

.team-content_social i {
  color: #333333;
  padding: 5px;
}

.team-content_wrapper {
  color: black;
  text-align: center;
}

.team-content_wrapper img {
  width: 300px;
  border-radius: 5%;
}

@media screen and (max-width: 320px) {
  .hero-content-wrapper h3 {
    font-size: 1.3rem;
  }

  .hero-content-wrapper h1 {
    font-weight: 700;
    /* line-height: 86px; */
    font-style: normal;
    font-size: 35px;
    font-weight: bold;
    display: inline-block;
    align-items: center;
    letter-spacing: 1px;
    left: 73px;
    top: 337.8px;
  }

  .hero-button {
    margin-top: 0;
  }

  .about-skills {
    padding: 0px !important;
    display: flex !important;
    justify-content: center;
    padding-top: 35px !important;

  }

  .service-card {
    margin: 20px 0;
    width: 50%;
    text-align: center;
  }

  .eclipse-1 {
    height: 220.905457px;
    width: 220.905457px;

  }

  .boots-logo {
    width: 25.5px;
    height: 25.5px;
    left: 150px;

  }

  .eclipse-2 {
    height: 178px;
    width: 178px;
  }

  .html-logo {
    right: 171px;
    width: 26px;
    height: 26px;
  }

  .slack-logo {
    bottom: 181px;
    width: 26px;
    height: 26px;
  }

  .zoom-logo {
    bottom: 33px;
    width: 26px;
    height: 26px;
  }

  .js-logo {
    left: 56px;
  }

  .node-logo {
    width: 26.39px;
    height: 26.39px;
    left: -17px;
  }

  .eclipse-3 {
    width: 124.06px;
    height: 124.06px;
  }

  .jqury-logo {
    width: 40px;
    height: auto;
    right: 0px;
  }

  .header-wrapper {
    padding: 54px 30px 0px !important;
  }

  .header-wrapper h1 {
    font-size: 1.5rem !important;
  }

  .process-wrapper {
    padding: 0px 40px 50px;
  }

  .header-wrapper p {
    text-align: center;
    padding: 0 !important;
  }

  .team-content_wrapper img {
    width: 228px;
  }

  .team-content_wrapper h2 {
    font-size: 0.9rem;
    padding-top: 16px;
    font-weight: bolder;
  }

  .team-content_social {
    padding-bottom: 10px;
  }

  .footer-content-wrapper {
    padding: 60px !important;
    text-align: center;
  }

  .left-col1 {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  .footer-logo {
    padding: 15px;
  }

  .footer-logo img {
    width: 145px;
  }

  .left-col1 p {
    font-size: 0.8rem;
  }

  .social-icon {
    padding: 5px;
  }

  .quick-links {
    padding: 20px 0;
  }
}





@media screen and (max-width: 375px) {
  .hero {
    height: auto;
    width: 100%;
  }

  .hero-content-wrapper {
    padding: 58px 30px;
    width: 100%;
  }

  .about {
    width: 100%;
  }

  .about-skills {
    padding: 35px 0 0 !important;
  }

  .service-card {
    margin: 20px auto !important;
    width: 90%;
    text-align: center;
    letter-spacing: 1px;
    line-height: 1.5;
    padding: 30px;
  }

  .service-card_link {}

  .eclipse-1 {
    height: 250.905457px;
    width: 250.905457px;
  }

  .boots-logo {
    width: 30.5px;
    height: 30.5px;
    left: 172px;
  }

  .eclipse-2 {
    height: 190px;
    width: 190px;
  }

  .html-logo {
    width: 30px;
    height: 30px;
  }

  .eclipse-3 {
    width: 125.06px;
    height: 125.06px;
  }

  .slack-logo {
    bottom: 45px;
  }

  .node-logo {
    width: 47.39px;
    height: auto;
    left: -25px;
  }

  .js-logo {
    width: 30x;
    left: 51px;
  }

  .zoom-logo {
    width: 30px;
    height: 30px;
    top: 49px;
  }

  .about-content {
    padding: 0;
  }

  .header-wrapper {
    padding: 60px 0 !important;
  }

  .header-wrapper h1 {
    text-align: center;
    font-size: 2rem;
  }

  .overview {
    text-align: center;
  }

  .header-wrapper p {}

  .about-para {
    padding: 10px 0;
    text-align: center;
  }

  .process-wrapper {
    text-align: center;
    display: contents;
  }

  .process-card {
    width: 255px;
    color: black;
    margin: auto;
    padding: 15px 0;
  }

  .num {
    display: inline;
  }

  .service-cards {
    padding: 0;
  }

  .service-cards_wrapper {
    display: contents;
  }

  .header-wrapper p {
    padding: 30px !important;
    text-align: center;
    color: black;
    line-height: 2;
  }

  .comment-content {
    text-align: center;
    padding: 0;
  }

  .comment-content p {
    width: 100%;
    padding: 30px;
  }

  .comment-img_wrapper {
    height: auto;
  }

  .comment-img_wrapper p {
    padding: 0;
  }

  .clients-logo_wrapper {
    display: grid;
    justify-content: center;
    grid-row-gap: 60px;
  }

  .footer-content-wrapper {
    padding: 60px !important;
    text-align: center;
  }

  .left-col1 {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  .footer-logo {
    padding: 15px;
  }

  .social-icon {
    padding: 5px;
  }

  .quick-links {
    padding: 20px 0;
  }
}

@media screen and (max-width: 414px) {
  .hero {
    height: auto;
    width: 100%;
  }

  .hero-content-wrapper p {
    font-size: 17px;
  }

  .hero-content-wrapper {
    width: 100%;
  }

  .about-skills {
    padding: 55px 0 0 !important;
  }

  .service-card {
    margin: 20px auto !important;
    width: 90%;
    text-align: center;
    letter-spacing: 1px;
    line-height: 1.5;
    padding: 30px;
  }

  .eclipse-1 {
    height: 260px !important;
    width: 260px !important;
  }

  .boots-logo {
    width: 30.5px;
    height: 30.5px;
    left: 174px;
  }

  .eclipse-2 {
    height: 200px;
    width: 200px;
  }

  .html-logo {
    width: 30px;
    height: 30px;
    right: 166px;
  }

  .eclipse-3 {
    width: 125px;
    height: 125px;
  }

  .slack-logo {
    width: 30px;
    height: 30px;
    bottom: 51px;
  }

  .node-logo {
    width: 40.39px;
    left: -22px;
    height: auto;
  }

  .zoom-logo {
    bottom: 50px;
  }

  .js-logo {
    left: 52px;
  }

  .jqury-logo {
    width: 50px;
  }

  .header-wrapper {
    padding: 60px 0 !important;
  }

  .header-wrapper p {
    padding: 30px !important;
    text-align: center;
    color: black;
    line-height: 2;
  }

  .about-para {
    padding: 30px;
    text-align: center;
  }

  .service-cards {
    padding: 0;
  }

  .comment-content {
    text-align: center;
    padding: 30px;
  }



  .comment-content p {
    width: auto !important;

  }

  .clients-logo_wrapper {
    display: grid;
    justify-content: center;
    grid-row-gap: 60px !important;
  }

  .social-icon {
    padding: 5px 5px 20px;
  }

  .footer-logo {
    padding: 15px 0;
  }

  .footer-logo img {
    width: 145px;
  }

  .left-col1 p {
    font-size: 0.8rem;
  }

  .social-icon {
    padding: 5px;
  }

  .quick-links {
    padding: 20px 0;
  }

  .row>* {
    padding-right: 0;
    padding-left: 0;

  }
}



@media only screen and (max-width: 600px) {
  body {
    width: 100%;
  }

  .service-cards_wrapper {
    display: contents;
  }

  .about-content {
    padding: 0;
  }

  .about-skills {
    padding: 55px 55px 0;
    margin: auto;
  }

  .service-card {
    margin: 20px 0;
  }

  .header-wrapper {
    padding: 80px 0 70px 30px;
    text-align: center;
  }

  .service-card-Paragraph {
    text-align: left;
  }

  .overview {
    text-align: center;
  }

  .header-wrapper h1 {
    text-align: center;
  }

  .process-wrapper {
    display: grid;
    text-align: center;
    grid-row-gap: 30px;
  }

  .comment-content p {
    width: auto;

  }

  .num {
    margin: auto;
  }

  .service-cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 736px) {
  .hero {
    height: auto;
    width: 100%;
  }

  .hero-wrapper {
    display: flext;
    background: linear-gradient(45deg, black, transparent);
  }

  .service-card {
    margin: 20px 0;
    height: auto;
  }

  .hero-content-wrapper {
    padding: 58px 30px;
    width: 100%;
  }

  .hero-content {}

  .hero-content-wrapper h1 {
    font-size: 20px;
  }

  .hero-content-wrapper p {
    /* width: 362px; */
  }

  .hero-button {
    margin-top: 80px;
  }

  .about {
    height: auto;
  }

  .about-content {
    display: inline-block;
    width: 100%;
  }

  .about-skills {
    /* padding: 50px 36px 50px 0; */
    display: table;
  }

  .hero-content-wrapper h3 {}

  .hero-content-wrapper h1 {
    font-weight: revert;
    letter-spacing: 2px;
  }

  .hero-content-wrapper p {
    width: 100%;
    margin: auto;
    display: flex;
    font-size: 13px;
  }
}

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
}

.current {
  border: 1px solid #8BC442;
  color: #8BC442;
  border-radius: 5px;
  padding: 8px 11px;
}
.row {
  margin-left: -15px;
  margin-right: -15px;
  align-items: center;
}

.video-section{
  position: relative;
  width: 100%;  
  height: 550px;
  overflow: hidden;

}

#myVideo {
  width: 100%;
  height: 100%;
}

video::-webkit-media-controls {
  display: none !important;
}

.overlay-heading {
  padding: 180px 100px 20px;
  width: 50%;
  text-transform: uppercase;
  margin-bottom: 15px;
  color: #8BC442;
}

.video-overlay p {
  padding: 0 750px 0 100px;
  font-weight: 500;  
}

.overlay-paragraph {
  padding: 20px 0;
}
.button {
  width: 91px;
  height: 40px;
  font-size: 1em;
  border-radius: 5px;
  font-family: sans-serif;
  background-color: #F48E39;
  color: #454343;
  margin-top: 20px;
  margin-left: 225px;
  border: none;
}

button:hover {
  background-image: linear-gradient(to bottom,#2d9d5bbf, rgba(98, 133, 52, 0.57));
  color: white;
}
.video-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(to right,rgba(52, 75, 129, 0.419), rgba(135, 207, 217, 0.446));
  opacity: 1;
  color: white;
}
.content-section {
  background-image: linear-gradient(to left, rgb(202, 95, 62),rgb(243, 146, 67) );
  color:  rgb(95, 196, 209);
  padding: 50px;
  
}



.services-content > div {
  margin: 10px;
} 

.services {
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 40px;
 
}

.services-content__collections {
  display: flex;
  padding: 0 0 20px 0;
}

.svg > img {
width: 100%;
max-width: 400px;

}

.services-content__collections-wrap {
  margin-left: 20px
}

.services-content__collections-wrap p {
  font-size: 13px;

}

h3 {
  padding-bottom: 10px;
  font-size: 20px;
}


.past-work {
  background-image: linear-gradient(to left,rgb(52, 75, 129), #87D0D9);
  text-align: center;
  color: #454343;
  padding: 50px ;
  
}

.image-wrapper > a >img {
  max-width: 100%;
  max-height: 100%; 
}
img {
  
  display: block;
}

.past-work__heading {
  text-transform: uppercase;
  padding-bottom: 40px;
  
}

.past-work__container {
  background-image: linear-gradient(to left,rgb(39, 63, 118), rgb(95, 173, 184));
  display: flex;
  align-items: center;
  height: 400px;
  width: 100%;
  border: 3px solid #8BC442;
}

.spacing {
  padding: 30px 0;
} */